In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
warehouse_path = '/content/drive/Shareddrives/SupplyChain/supply_chain_project/warehouses.xlsx'

data_warehouse = pd.read_excel(warehouse_path)
data_warehouse.head()

  Warehouse  Latitude  Longitude           City           State         Region
0        W1  27.59137   76.43122  Roondh Rampur       Rajasthan  North Central
1        W2  26.85383   84.19225     Amwas Khas   Uttar Pradesh  North Central
2        W3  17.20569   81.53633    Rajahmundry  Andhra Pradesh     South East
3        W4  28.56098   80.49032    Sumer Nagar   Uttar Pradesh  North Central
4        W5  29.25725   77.91551        Bhoomma   Uttar Pradesh  North Central

In [ ]:
data_warehouse[data_warehouse['Region'] == 'North']

   Warehouse  Latitude  Longitude      City             State Region
5         W6  31.91242   76.05651     Kasba  Himachal Pradesh  North
34       W35  34.06834   74.79684  Batmaloo          Srinagar  North
51       W52  31.16756   77.65145    Shimla  Himachal Pradesh  North

In [ ]:
import folium

# Latitude and longitude data
data = [
    {'Warehouse': 'W6', 'Latitude': 31.91242, 'Longitude': 76.05651},
    {'Warehouse': 'W35', 'Latitude': 34.06834, 'Longitude': 74.79684},
    {'Warehouse': 'W52', 'Latitude': 31.16756, 'Longitude': 77.65145}
]

# Create a folium map centered around the centroid
centroid_latitude = 32.374351518704046
centroid_longitude = 76.1833314650945
map = folium.Map(location=[centroid_latitude, centroid_longitude], zoom_start=7)

# Add markers for each warehouse
for d in data:
    warehouse = d['Warehouse']
    latitude = d['Latitude']
    longitude = d['Longitude']
    folium.Marker([latitude, longitude], popup=warehouse).add_to(map)

# Add a marker for the centroid with a different color
folium.Marker(
    [centroid_latitude, centroid_longitude],
    popup='Centroid',
    icon=folium.Icon(color='red', icon='info-sign')
).add_to(map)

# Display the map
map

## Calculate the centroids of distributors based on warehouses locations

In [ ]:
import numpy as np

def calculate_geographic_centroid(coords):
    # Convert latitude and longitude to 
    # spherical coordinates in radians.
    degrees_to_radians = np.pi/180.0

    # Separate latitudes and longitudes into their own lists
    latitudes, longitudes = zip(*coords)

    # phi = 90 - latitude
    phi = (90.0 - np.array(latitudes))*degrees_to_radians

    # theta = longitude
    theta = np.array(longitudes)*degrees_to_radians

    # Compute spherical coordinate of centroid.
    cphi = np.cos(phi)
    sphi = np.sin(phi)
    ctheta = np.cos(theta)
    stheta = np.sin(theta)

    x = ctheta * sphi
    y = stheta * sphi
    z = cphi

    # Compute averages
    x_bar = np.mean(x)
    y_bar = np.mean(y)
    z_bar = np.mean(z)

    # Convert averages to latitude and longitude.
    centroid_latitude = 90.0 - np.arccos(z_bar)*180.0/np.pi
    centroid_longitude = np.arctan2(y_bar, x_bar)*180.0/np.pi

    return (centroid_latitude, centroid_longitude)

In [ ]:
def calculate_centroids(df):
    # Create an empty dictionary to store the centroids
    centroids = {}

    # Group the DataFrame by 'Region' and loop through each group
    for region, group in df.groupby('Region'):
        #print(region)
        #print(group)
        # Convert the Latitude and Longitude columns to a list of tuples
        coords = [(lat, lon) for lat, lon in zip(group['Latitude'], group['Longitude'])]

        # Calculate the centroid of the coordinates
        centroid = calculate_geographic_centroid(coords)

        # Store the centroid in the dictionary
        centroids[region] = centroid

    return centroids

centroids = calculate_centroids(data_warehouse)
for region, centroid in centroids.items():
    print(f"Centroid of {region}: {centroid}")

Centroid of Central: (22.838562467570583, 80.13168272188055)
Centroid of East: (24.28367059252669, 86.71595479685799)
Centroid of North: (32.374351518704046, 76.1833314650945)
Centroid of North Central: (26.938927380382275, 78.29771921958431)
Centroid of North East: (25.148890408139522, 91.91937757332543)
Centroid of North West: (22.855943785525824, 72.7710594887368)
Centroid of South East: (13.841481423282374, 80.78571515514709)
Centroid of South West: (14.054830636217162, 76.76216770440867)
Centroid of West: (19.948131831565618, 76.77202447425074)

In [ ]:
# Split dictionary values (tuples) into two separate dictionaries
centroid_latitude = {region: centroid[0] for region, centroid in centroids.items()}
centroid_longitude = {region: centroid[1] for region, centroid in centroids.items()}

# Add new columns to the DataFrame
data_warehouse['Centroid_Latitude'] = data_warehouse['Region'].map(centroid_latitude)
data_warehouse['Centroid_Longitude'] = data_warehouse['Region'].map(centroid_longitude)

In [ ]:
data_warehouse.head()

,Warehouse,Latitude,Longitude,City,State,Region,Centroid_Latitude,Centroid_Longitude
0,W1,27.59137,76.43122,Roondh Rampur,Rajasthan,North Central,26.938927,78.297719
1,W2,26.85383,84.19225,Amwas Khas,Uttar Pradesh,North Central,26.938927,78.297719
2,W3,17.20569,81.53633,Rajahmundry,Andhra Pradesh,South East,13.841481,80.785715
3,W4,28.56098,80.49032,Sumer Nagar,Uttar Pradesh,North Central,26.938927,78.297719
4,W5,29.25725,77.91551,Bhoomma,Uttar Pradesh,North Central,26.938927,78.297719

In [ ]:
import folium

# Create a map centered at the centroid latitude and longitude
map_center = [26.938927, 78.297719]
m = folium.Map(location=map_center, zoom_start=6)

# Add markers for the warehouses
warehouses = [
    {"name": "W1", "latitude": 27.59137, "longitude": 76.43122},
    {"name": "W2", "latitude": 26.85383, "longitude": 84.19225}
]

for warehouse in warehouses:
    name = warehouse["name"]
    latitude = warehouse["latitude"]
    longitude = warehouse["longitude"]
    tooltip = f"Warehouse {name}"
    folium.Marker([latitude, longitude], tooltip=tooltip).add_to(m)

# Display the map
m

In [ ]:
# import geopy.distance

# coords_1 = (52.2296756, 21.0122287)
# coords_2 = (52.406374, 16.9251681)
# coords_3 = (52.520008, 13.404954)

# print(geopy.distance.geodesic(coords_2, coords_3).km)

In [ ]:
plant_path = '/content/drive/Shareddrives/SupplyChain/supply_chain_project/plant_location.xlsx'

data_plant = pd.read_excel(plant_path)
data_plant

  plant_location     category  latitude  longitude
0        Jalgaon  Edible oils   21.0077    75.5626
1          Baddi  Edible oils   30.9569    76.7914
2     Perundurai          CNO   11.2753    77.5907
3      Kanjikode          CNO   10.7905    76.6513
4    Pondicherry          CNO   11.9416    79.8083
5         Sanand         VAHO   22.9920    72.3811
6       Guwahati         VAHO   26.1445    91.7362
7       Dehradun         VAHO   30.3165    78.0322

## Calculate the cost from plants to warehouses

In [ ]:
import pandas as pd
from geopy.distance import geodesic

distances = []
primary_costs = []

cost_factors = {
    'Guwahati': (0.002, 2.73),
    'Dehradun': (0.0052, 3.84),
    'Baddi': (0.0052, 3.84),
    'Jalgaon': (0.0048, 2.52),
    'Kanjikode': (0.0042, 1.64),
    'Perundurai': (0.0043, 1.76),
    'Pondicherry': (0.0044, 2.1),
    'Sanand': (0.005, 2.85)
}

# Loop over data_plant rows
for plant_location, plant_lat, plant_lon in zip(data_plant['plant_location'], data_plant['latitude'], data_plant['longitude']):
    plant_coords = (plant_lat, plant_lon)
    p_to_w_costs = []

    # For each plant, loop over data_warehouse rows
    for warehouse, warehouse_lat, warehouse_lon in zip(data_warehouse['Warehouse'], data_warehouse['Latitude'], data_warehouse['Longitude']):
        warehouse_coords = (warehouse_lat, warehouse_lon)

        # Calculate distance and append to list along with the warehouse and plant_location
        distance = round(geodesic(plant_coords, warehouse_coords).km, 2)
        distances.append((plant_location, warehouse, distance))

        # Calculate cost based on location
        if plant_location in cost_factors:
            cost_factor, constant = cost_factors[plant_location]
            p_to_w_cost = distance * cost_factor + constant
            p_to_w_costs.append(p_to_w_cost)

    primary_costs.append(p_to_w_costs)

# Create a dataframe from the costs list
df_primary_costs = pd.DataFrame(primary_costs, columns=data_warehouse['Warehouse'], index=data_plant['plant_location'])
df_primary_costs

Warehouse,W1,W2,W3,W4,W5,W6,W7,W8,W9,W10,...,W44,W45,W46,W47,W48,W49,W50,W51,W52,W53
plant_location,,,,,,,,,,,,,,,,,,,,,
Jalgaon,6.045744,7.755744,6.150288,7.192896,7.051536,8.324208,7.001904,2.930544,9.173760,12.788208,...,3.730848,8.455584,4.826784,11.572080,6.102480,10.760832,4.069152,5.025072,8.014896,3.721104
Baddi,5.788284,8.274300,12.145232,6.156652,4.970168,4.499932,14.203236,9.812200,11.535688,13.515172,...,10.897284,15.671612,9.637220,12.477876,13.419492,11.559296,9.824992,7.402936,4.283768,8.391560
Perundurai,9.544290,9.749959,5.122987,10.090691,10.321945,11.609795,2.671385,6.239482,9.347436,12.858515,...,5.575089,2.828851,6.706290,11.846553,3.297207,11.353515,6.272721,8.708714,11.231352,7.387195
Kanjikode,9.452042,9.814250,5.353976,10.072046,10.244582,11.466530,2.947250,6.203006,9.505592,12.942536,...,5.467124,3.070268,6.803522,11.947934,3.283376,11.454980,6.333920,8.555846,11.126204,7.343096
Pondicherry,9.879244,9.638740,4.790468,10.201940,10.579592,11.976768,2.957032,6.633760,8.943100,12.495748,...,6.194992,2.756040,6.692720,11.486212,4.058616,11.025268,6.401308,9.235392,11.518024,7.719944
Sanand,6.112700,9.183750,8.607100,7.951900,7.287400,8.114550,9.217600,5.253300,11.269900,14.724200,...,5.481950,10.752050,6.967850,13.486500,8.115050,12.594250,6.327000,4.349200,8.077450,5.001200
Guwahati,5.786600,4.242080,5.621580,5.017920,5.540280,6.037200,6.758760,6.120940,3.637900,3.521200,...,6.561360,6.996820,5.312280,3.013020,6.844720,2.893780,5.662040,6.344580,5.697380,5.873260
Dehradun,5.607792,7.553996,11.614624,5.440508,4.453392,5.184200,13.800600,9.512472,10.816424,12.855084,...,10.663076,15.232576,9.115036,11.793972,13.085236,10.868736,9.386736,7.428988,4.365980,8.088088

In [ ]:
#add a zero column named W0, so we can use df_primary_costs(i,j) represents cost from i to j warehouse,and we number the plant 0-7
import pandas as pd

# Insert a column filled with zeros before W1
df_primary_costs.insert(df_primary_costs.columns.get_loc("W1"), "W0", 0)

df_primary_costs

Warehouse,W0,W1,W2,W3,W4,W5,W6,W7,W8,W9,...,W44,W45,W46,W47,W48,W49,W50,W51,W52,W53
plant_location,,,,,,,,,,,,,,,,,,,,,
Jalgaon,0,6.045744,7.755744,6.150288,7.192896,7.051536,8.324208,7.001904,2.930544,9.173760,...,3.730848,8.455584,4.826784,11.572080,6.102480,10.760832,4.069152,5.025072,8.014896,3.721104
Baddi,0,5.788284,8.274300,12.145232,6.156652,4.970168,4.499932,14.203236,9.812200,11.535688,...,10.897284,15.671612,9.637220,12.477876,13.419492,11.559296,9.824992,7.402936,4.283768,8.391560
Perundurai,0,9.544290,9.749959,5.122987,10.090691,10.321945,11.609795,2.671385,6.239482,9.347436,...,5.575089,2.828851,6.706290,11.846553,3.297207,11.353515,6.272721,8.708714,11.231352,7.387195
Kanjikode,0,9.452042,9.814250,5.353976,10.072046,10.244582,11.466530,2.947250,6.203006,9.505592,...,5.467124,3.070268,6.803522,11.947934,3.283376,11.454980,6.333920,8.555846,11.126204,7.343096
Pondicherry,0,9.879244,9.638740,4.790468,10.201940,10.579592,11.976768,2.957032,6.633760,8.943100,...,6.194992,2.756040,6.692720,11.486212,4.058616,11.025268,6.401308,9.235392,11.518024,7.719944
Sanand,0,6.112700,9.183750,8.607100,7.951900,7.287400,8.114550,9.217600,5.253300,11.269900,...,5.481950,10.752050,6.967850,13.486500,8.115050,12.594250,6.327000,4.349200,8.077450,5.001200
Guwahati,0,5.786600,4.242080,5.621580,5.017920,5.540280,6.037200,6.758760,6.120940,3.637900,...,6.561360,6.996820,5.312280,3.013020,6.844720,2.893780,5.662040,6.344580,5.697380,5.873260
Dehradun,0,5.607792,7.553996,11.614624,5.440508,4.453392,5.184200,13.800600,9.512472,10.816424,...,10.663076,15.232576,9.115036,11.793972,13.085236,10.868736,9.386736,7.428988,4.365980,8.088088

In [ ]:
df_primary_costs.iloc[0,1]
for i in range(2,5):
  print(i)

2
3
4

## Calculate the cost from warehouses to distributors

In [ ]:
data_distributor = data_warehouse[['Region','Centroid_Latitude','Centroid_Longitude']].drop_duplicates().reset_index(drop=True)
data_distributor

          Region  Centroid_Latitude  Centroid_Longitude
0  North Central          26.938927           78.297719
1     South East          13.841481           80.785715
2          North          32.374352           76.183331
3     South West          14.054831           76.762168
4           West          19.948132           76.772024
5           East          24.283671           86.715955
6     North East          25.148890           91.919378
7     North West          22.855944           72.771059
8        Central          22.838562           80.131683

In [ ]:
import pandas as pd
from geopy.distance import geodesic

secondary_costs = []
secondary_distance = []
cost_factors = {
    'North East': 0.0145,
    'North': 0.011875,
    'West': 0.0115,
    'South West': 0.010625,
    'South East': 0.00915,
    'Central': 0.008875,
    'East': 0.008,
    'North Central': 0.007875,
    'North West': 0.006875
}

# Loop over data_warehouse rows
for warehouse, warehouse_lat, warehouse_lon in zip(data_warehouse['Warehouse'], data_warehouse['Latitude'], data_warehouse['Longitude']):
    warehouse_coords = (warehouse_lat, warehouse_lon)
    w_to_d_costs = []
    w_to_d_distances = []
    # For each warehouse, loop over data_distributor rows
    for distributor_location, distributor_lat, distributor_lon in zip(data_distributor['Region'], data_distributor['Centroid_Latitude'], data_distributor['Centroid_Longitude']):
        distributor_coords = (distributor_lat, distributor_lon)

        # Calculate distance and append to list along with the warehouse and distributor_location
        distance = round(geodesic(distributor_coords, warehouse_coords).km, 2)

        # Calculate cost based on location
        if distance > 500:
            w_to_d_cost = 9999
        elif distributor_location in cost_factors:
            slope = cost_factors[distributor_location]
            w_to_d_cost = distance * slope
        else:
            w_to_d_cost = None
        w_to_d_distances.append(distance)
        w_to_d_costs.append(w_to_d_cost)

    secondary_costs.append(w_to_d_costs)
    secondary_distance.append(w_to_d_distances)
# Create a dataframe from the costs list
df_secondary_costs = pd.DataFrame(secondary_costs, columns=data_distributor['Region'], index=data_warehouse['Warehouse'])
df_secondary_disntance = pd.DataFrame(secondary_distance, columns=data_distributor['Region'], index=data_warehouse['Warehouse'])
# Create a DataFrame with the zero row
zero_row = pd.DataFrame([[0] * len(df_secondary_costs.columns)], columns=df_secondary_costs.columns)

# Concatenate the zero row with the original DataFrame
df_secondary_costs = pd.concat([zero_row, df_secondary_costs])
df_secondary_disntance = pd.concat([zero_row, df_secondary_disntance])
df_secondary_disntance
#df_secondary_costs

Region,North Central,South East,North,South West,West,East,North East,North West,Central
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
W1,198.46,1588.04,530.74,1499.14,847.25,1092.98,1568.14,641.15,645.07
W2,585.62,1483.63,987.45,1614.12,1076.57,381.25,796.18,1235.68,605.10
W3,1128.25,380.87,1764.52,619.31,587.34,951.07,1390.32,1109.58,640.66
W4,281.12,1630.09,591.30,1651.77,1025.78,780.96,1196.46,999.33,634.97
W5,259.65,1732.45,383.26,1687.56,1037.62,1033.73,1459.03,876.06,744.85
W6,592.58,2058.60,52.60,1979.04,1327.44,1344.76,1721.51,1054.67,1082.99
W7,1540.84,274.57,2155.13,210.32,785.83,1523.76,1953.81,1240.34,1102.06
W8,731.95,889.32,1304.47,726.46,89.86,1150.40,1682.53,438.96,470.85
W9,1146.15,1324.01,1617.46,1613.24,1293.57,255.09,392.88,1645.00,890.97
W10,1703.32,2135.98,1944.06,2436.68,2074.07,941.81,430.64,2340.85,1625.61
W11,725.13,1156.40,1188.94,919.63,376.10,1351.45,1886.17,151.77,662.72
W12,1222.59,653.06,1786.31,294.13,437.80,1489.28,1992.60,773.97,889.25
W13,1011.49,485.15,1634.85,474.69,324.02,1083.18,1574.23,847.27,570.52
W14,337.82,1410.47,835.77,1475.13,886.43,566.78,1039.19,988.62,439.94
W15,736.21,989.74,1327.28,1169.48,756.87,383.60,903.10,1112.97,358.90
W16,614.42,1318.46,1015.92,1103.09,521.27,1348.66,1877.26,104.43,683.92
W17,1918.95,567.04,2526.73,506.06,1150.02,1876.99,2274.78,1562.98,1484.21
W18,1591.87,444.01,2188.67,159.09,810.85,1655.28,2101.89,1213.49,1181.96
W19,92.41,1520.79,607.69,1504.20,864.40,849.06,1313.76,810.72,526.00
W20,1602.96,183.07,2228.34,366.44,881.31,1493.71,1893.34,1362.11,1142.12
W21,1101.08,944.88,1672.71,1247.57,1013.11,429.00,767.67,1441.31,707.13
W22,245.91,1227.08,880.60,1202.73,569.84,809.43,1330.73,643.96,255.16
W23,1004.57,1352.98,1460.98,1605.44,1226.27,111.17,434.00,1539.79,794.67
W24,831.94,1458.25,1240.75,1657.02,1195.72,173.17,545.52,1435.63,730.81
W25,461.22,1045.56,1092.72,1094.25,533.14,644.40,1179.16,791.97,61.23
W26,842.55,1459.07,1137.04,1177.93,694.64,1603.16,2131.78,182.40,933.82
W27,1549.59,1810.94,1893.99,2128.04,1812.57,699.04,172.70,2130.21,1388.20
W28,1245.38,331.28,1861.00,250.19,500.50,1290.82,1757.70,987.05,812.59
W29,1378.40,153.67,2004.17,306.54,667.26,1313.50,1745.55,1165.11,919.95
W30,946.31,991.07,1442.41,694.63,332.09,1448.76,1980.74,375.69,766.33
W31,258.89,1355.06,778.14,1251.67,600.13,1050.08,1563.46,460.69,471.38
W32,2265.04,1317.26,2848.87,1751.15,1935.90,1532.46,1493.43,2450.73,1818.97
W33,1110.25,465.97,1744.60,736.26,653.54,849.17,1276.04,1165.52,619.93
W34,503.05,1037.85,1094.39,938.94,288.04,1001.91,1536.76,445.91,313.70
W35,858.68,2320.54,228.03,2225.68,1576.74,1585.23,1926.72,1258.30,1349.20
W36,754.78,848.66,1375.41,1009.85,617.65,541.37,1050.97,1019.43,297.41
W37,406.83,1077.97,1028.80,1031.11,396.64,873.78,1407.21,559.54,202.23
W38,524.45,1142.21,1107.59,1255.46,738.87,436.94,969.22,994.86,269.53
W39,387.47,1664.91,547.70,1525.47,886.17,1281.66,1761.69,559.38,781.60
W40,596.37,1322.71,1086.40,1466.52,957.41,299.65,796.77,1176.36,485.50
W41,919.52,1180.10,1436.79,1422.45,1052.68,137.79,608.99,1394.00,640.03
W42,926.52,658.82,1524.37,509.18,149.68,1172.23,1687.18,651.51,559.47
W43,1744.74,504.84,2343.17,313.68,965.27,1774.41,2203.50,1362.35,1328.01
W44,965.00,842.02,1506.02,567.49,237.69,1369.47,1895.46,494.39,707.09
W45,1815.72,376.19,2439.52,502.65,1083.42,1684.78,2060.10,1547.17,1355.62
W46,645.95,835.40,1282.21,886.43,387.81,744.97,1272.04,781.43,163.03
W47,1469.61,1903.61,1757.68,2191.44,1819.96,687.70,195.07,2092.66,1372.42
W48,1409.08,465.92,1999.40,41.12,623.07,1537.54,2008.92,1022.89,1017.24
W49,1286.46,1795.52,1585.75,2059.51,1658.18,530.05,188.40,1914.76,1203.18
W50,691.48,792.76,1316.03,762.62,212.92,919.81,1446.79,652.65,281.86
W51,487.91,1477.93,808.98,1295.87,680.41,1318.58,1831.58,298.25,710.56
W52,472.89,1945.35,192.99,1897.32,1246.05,1174.21,1550.19,1040.20,955.06
W53,463.44,1112.69,1032.95,996.93,345.11,1042.76,1575.91,391.06,365.28

In [ ]:
df_secondary_costs

Region,North Central,South East,North,South West,West,East,North East,North West,Central
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
W1,1.562873,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W2,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,3.05000,9999.000000,9999.000000,9999.000000
W3,9999.000000,3.484961,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W4,2.213820,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W5,2.044744,9999.000000,4.551213,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W6,9999.000000,9999.000000,0.624625,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W7,9999.000000,2.512316,9999.000000,2.234650,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W8,9999.000000,9999.000000,9999.000000,9999.000000,1.033390,9999.00000,9999.000000,3.017850,4.178794
W9,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,2.04072,5.696760,9999.000000,9999.000000
W10,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,6.244280,9999.000000,9999.000000
W11,9999.000000,9999.000000,9999.000000,9999.000000,4.325150,9999.00000,9999.000000,1.043419,9999.000000
W12,9999.000000,9999.000000,9999.000000,3.125131,5.034700,9999.00000,9999.000000,9999.000000,9999.000000
W13,9999.000000,4.439122,9999.000000,5.043581,3.726230,9999.00000,9999.000000,9999.000000,9999.000000
W14,2.660332,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,3.904467
W15,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,3.06880,9999.000000,9999.000000,3.185237
W16,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,0.717956,9999.000000
W17,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W18,9999.000000,4.062691,9999.000000,1.690331,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W19,0.727729,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W20,9999.000000,1.675091,9999.000000,3.893425,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W21,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,3.43200,9999.000000,9999.000000,9999.000000
W22,1.936541,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,2.264545
W23,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,0.88936,6.293000,9999.000000,9999.000000
W24,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,1.38536,9999.000000,9999.000000,9999.000000
W25,3.632108,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,0.543416
W26,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,1.254000,9999.000000
W27,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,2.504150,9999.000000,9999.000000
W28,9999.000000,3.031212,9999.000000,2.658269,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W29,9999.000000,1.406080,9999.000000,3.256988,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W30,9999.000000,9999.000000,9999.000000,9999.000000,3.819035,9999.00000,9999.000000,2.582869,9999.000000
W31,2.038759,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,3.167244,4.183497
W32,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W33,9999.000000,4.263626,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W34,9999.000000,9999.000000,9999.000000,9999.000000,3.312460,9999.00000,9999.000000,3.065631,2.784087
W35,9999.000000,9999.000000,2.707856,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W36,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,2.639514
W37,3.203786,9999.000000,9999.000000,9999.000000,4.561360,9999.00000,9999.000000,9999.000000,1.794791
W38,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,3.49552,9999.000000,9999.000000,2.392079
W39,3.051326,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W40,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,2.39720,9999.000000,9999.000000,4.308812
W41,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,1.10232,9999.000000,9999.000000,9999.000000
W42,9999.000000,9999.000000,9999.000000,9999.000000,1.721320,9999.00000,9999.000000,9999.000000,9999.000000
W43,9999.000000,9999.000000,9999.000000,3.332850,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W44,9999.000000,9999.000000,9999.000000,9999.000000,2.733435,9999.00000,9999.000000,3.398931,9999.000000
W45,9999.000000,3.442138,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W46,9999.000000,9999.000000,9999.000000,9999.000000,4.459815,9999.00000,9999.000000,9999.000000,1.446891
W47,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,2.828515,9999.000000,9999.000000
W48,9999.000000,4.263168,9999.000000,0.436900,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W49,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,2.731800,9999.000000,9999.000000
W50,9999.000000,9999.000000,9999.000000,9999.000000,2.448580,9999.00000,9999.000000,9999.000000,2.501507
W51,3.842291,9999.000000,9999.000000,9999.000000,9999.000000,9999.00000,9999.000000,2.050469,9999.000000
W52,3.724009,9999.000000,2.291756,9999.000000,9999.000000,9999.00000,9999.000000,9999.000000,9999.000000
W53,3.649590,9999.000000,9999.000000,9999.000000,3.968765,9999.00000,9999.000000,2.688538,3.241860

In [ ]:
print(w_to_d_distances)

[463.44, 1112.69, 1032.95, 996.93, 345.11, 1042.76, 1575.91, 391.06, 365.28]

In [ ]:
df_secondary_costs.iloc[1,0]

1.5628725

In [ ]:
demand = {
    "North Central": 134560,
    "South East": 134560,
    "North": 8410,
    "South West": 75690,
    "West": 168200,
    "East": 117740,
    "North East": 25230,
    "North West": 92510,
    "Central": 84100
}

In [ ]:
D_distributor = np.array(list(demand.values()))

# Print the demand array
print(D_distributor)
total_demand = sum(D_distributor)
total_demand

[134560 134560   8410  75690 168200 117740  25230  92510  84100]

841000

In [ ]:
!pip install pulp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pulp
  Downloading PuLP-2.7.0-py3-none-any.whl (14.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.3/14.3 MB 83.9 MB/s eta 0:00:00
Installing collected packages: pulp
Successfully installed pulp-2.7.0

**select 24 warehouses**

In [ ]:
import re
from pulp import LpProblem, LpMinimize, LpVariable, lpSum, value, LpAffineExpression, LpStatus, PULP_CBC_CMD

non_zero_s_list = []
# Create the problem
prob = LpProblem("Cost Minimization Problem", LpMinimize)

# Define the decision variables
plants = range(8)
warehouses = range(1, 54)
distributors = range(9)

# Decision variables
W = LpVariable.dicts("W", ((p, w, d) for p in plants for w in warehouses for d in distributors), lowBound=0, cat="Integer")
s = LpVariable.dicts("s", ((w, d) for w in warehouses for d in distributors), lowBound=0, cat="Integer")
#Y = LpVariable.dicts("Y", warehouses, cat="Binary")




# Objective function
prob += lpSum(df_primary_costs.iloc[p, w] * W[p, w, d] for p in range(8) for w in range(1,54) for d in range(9)) \
        + lpSum(df_secondary_costs.iloc[w, d] * s[w, d] for w in range(1,54) for d in range(9))



# Constraints
total_demand = lpSum(D_distributor[d] for d in range(9))


# No delivery for distances larger than 500km
for w in range(1,54):
    for d in range(9):
        if df_secondary_costs.iloc[w, d] > 500:
            prob += s[w, d] == 0

#prob += lpSum([i[1] for i in W]) == 24



#category
for d in distributors:
  # Edible = 30%
  prob += lpSum(W[p, w, d] for p in range(2) for w in range(1,54)) == D_distributor[d] * 0.3

  # VAHO = 24%
  prob += lpSum(W[p, w, d] for p in range(2, 5) for w in range(1,54)) == D_distributor[d] * 0.24

  # CNO = 46%
  prob += lpSum(W[p, w, d] for p in range(5, 8) for w in range(1,54)) == D_distributor[d] * 0.46

# Inflow equals outflow
prob += lpSum(W[p, w, d] for p in range(8) for w in range(1, 54) for d in range(9)) \
        == lpSum(s[w, d] for w in range(1, 54) for d in range(9))

# Regional demand
for d in range(9):
    prob += lpSum(s[w, d] for w in range(1,54)) == D_distributor[d]
for w in range(1,54):
  prob += lpSum(W[p, w, d] for p in range(8) for d in range(9)) \
        == lpSum(s[w, d] for d in range(9))

#capacity
for p in plants:
  for w in warehouses:
        prob += lpSum(W[p, w, d] for d in distributors) <= 28034

# Solve the problem
prob.solve(PULP_CBC_CMD())

# Print the optimal solution
print("Optimal Solution:")
for v in prob.variables():
    if v.varValue > 0:
        print(v.name, "=", v.varValue)

# Print the optimal cost
print("Total Cost =", value(prob.objective))
non_zero_s = sum(1 for v in prob.variables() if v.name.startswith('s_') and v.varValue > 0)


indexes_w = []
indexes_d = []

for v in prob.variables():
    if v.name.startswith('s_') and v.varValue > 0:
        indexes = v.name.split('_')[1].split(',')
        w_index = int(indexes[0].strip('('))
        d_index = re.search(r"s_\(\d+,_([\d]+)\)", v.name).group(1) 
        indexes_w.append(w_index)
        indexes_d.append(d_index)

# Print the arrays
print("Warehouse indexes:", indexes_w)
indexes_d = numbers = [int(index) for index in indexes_d]

print("Distributor indexes:", indexes_d)

/usr/local/lib/python3.10/dist-packages/pulp/pulp.py:1352: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

Optimal Solution:
W_(0,_11,_5) = 28034.0
W_(0,_25,_4) = 12894.0
W_(0,_25,_7) = 15140.0
W_(0,_31,_0) = 11210.0
W_(0,_37,_1) = 11493.0
W_(0,_37,_4) = 9251.0
W_(0,_37,_5) = 7288.0
W_(0,_42,_4) = 28034.0
W_(0,_44,_0) = 5327.0
W_(0,_44,_3) = 22707.0
W_(0,_48,_0) = 8410.0
W_(0,_50,_1) = 20465.0
W_(0,_50,_6) = 7569.0
W_(0,_8,_0) = 15421.0
W_(0,_8,_7) = 12613.0
W_(1,_19,_2) = 2523.0
W_(1,_19,_4) = 281.0
W_(1,_19,_8) = 25230.0
W_(1,_6,_1) = 8410.0
W_(2,_18,_1) = 4260.4
W_(2,_18,_5) = 4931.2
W_(2,_18,_8) = 2020.4
W_(2,_20,_0) = 28034.0
W_(2,_29,_0) = 4260.4
W_(2,_29,_8) = 18163.6
W_(2,_48,_2) = 2018.4
W_(2,_48,_4) = 2689.2
W_(2,_48,_5) = 23326.4
W_(3,_20,_1) = 28034.0
W_(3,_48,_4) = 28034.0
W_(4,_20,_3) = 18165.6
W_(4,_20,_6) = 6055.2
W_(4,_20,_7) = 3813.2
W_(4,_29,_4) = 9644.8
W_(4,_29,_7) = 18389.2
W_(5,_11,_0) = 8408.0
W_(5,_16,_8) = 28034.0
W_(5,_26,_0) = 14241.6
W_(5,_26,_3) = 11552.4
W_(5,_26,_8) = 2240.0
W_(5,_8,_5) = 28034.0
W_(6,_19,_0) = 28034.0
W_(6,_23,_5) = 19622.0
W_(6,_23,_8) = 8412.0
W_(6,_24,_4) = 28034.0
W_(6,_25,_1) = 28034.0
W_(6,_40,_4) = 5604.0
W_(6,_41,_1) = 28034.0
W_(6,_49,_3) = 10709.4
W_(6,_49,_7) = 14520.6
W_(6,_8,_2) = 3868.6
W_(6,_8,_3) = 12555.6
W_(6,_8,_6) = 11605.8
W_(6,_9,_1) = 5829.6
W_(6,_9,_4) = 15700.0
W_(6,_9,_5) = 6504.4
W_(7,_1,_0) = 11214.0
W_(7,_19,_7) = 28034.0
W_(7,_5,_4) = 28034.0
s_(1,_0) = 11214.0
s_(11,_7) = 36442.0
s_(16,_7) = 28034.0
s_(18,_3) = 11212.0
s_(19,_0) = 84102.0
s_(20,_1) = 84102.0
s_(23,_5) = 28034.0
s_(24,_5) = 28034.0
s_(25,_8) = 56068.0
s_(26,_7) = 28034.0
s_(29,_1) = 50458.0
s_(31,_0) = 11210.0
s_(37,_8) = 28032.0
s_(40,_5) = 5604.0
s_(41,_5) = 28034.0
s_(42,_4) = 28034.0
s_(44,_4) = 28034.0
s_(48,_3) = 64478.0
s_(49,_6) = 25230.0
s_(5,_0) = 28034.0
s_(50,_4) = 28034.0
s_(6,_2) = 8410.0
s_(8,_4) = 84098.0
s_(9,_5) = 28034.0
Total Cost = 4536378.002784501
Warehouse indexes: [1, 11, 16, 18, 19, 20, 23, 24, 25, 26, 29, 31, 37, 40, 41, 42, 44, 48, 49, 5, 50, 6, 8, 9]
Distributor indexes: [0, 7, 7, 3, 0, 1, 5, 5, 8, 7, 1, 0, 8, 5, 5, 4, 4, 3, 6, 0, 4, 2, 4, 5]

In [ ]:
each_distances_list = []
for i in range(len(indexes_w)):
    each_distances = df_secondary_disntance.iloc[indexes_w[i],indexes_d[i]]
    #print(each_distances)
    each_distances_list.append(each_distances)

less_than_250 = 0
more_than_250 = 0
for i in each_distances_list:
  if i <= 250:
    less_than_250 += 1
  else:
    more_than_250 += 1

print(less_than_250)
print(more_than_250)
service_level = less_than_250/(less_than_250+more_than_250)
print(service_level)

20
4
0.8333333333333334

**Select 22 Warehouses**

In [ ]:
import re
from pulp import LpProblem, LpMinimize, LpVariable, lpSum, value, LpAffineExpression, LpStatus, PULP_CBC_CMD

non_zero_s_list = []
# Create the problem
prob = LpProblem("Cost Minimization Problem", LpMinimize)

# Define the decision variables
plants = range(8)
warehouses = range(1, 54)
distributors = range(9)

# Decision variables
W = LpVariable.dicts("W", ((p, w, d) for p in plants for w in warehouses for d in distributors), lowBound=0, cat="Integer")
s = LpVariable.dicts("s", ((w, d) for w in warehouses for d in distributors), lowBound=0, cat="Integer")
#Y = LpVariable.dicts("Y", warehouses, cat="Binary")




# Objective function
prob += lpSum(df_primary_costs.iloc[p, w] * W[p, w, d] for p in range(8) for w in range(1,54) for d in range(9)) \
        + lpSum(df_secondary_costs.iloc[w, d] * s[w, d] for w in range(1,54) for d in range(9))



# Constraints
total_demand = lpSum(D_distributor[d] for d in range(9))


# No delivery for distances larger than 500km
for w in range(1,54):
    for d in range(9):
        if df_secondary_costs.iloc[w, d] > 500:
            prob += s[w, d] == 0

#prob += lpSum([i[1] for i in W]) == 24



#category
for d in distributors:
  # Edible = 30%
  prob += lpSum(W[p, w, d] for p in range(2) for w in range(1,54)) == D_distributor[d] * 0.3

  # VAHO = 24%
  prob += lpSum(W[p, w, d] for p in range(2, 5) for w in range(1,54)) == D_distributor[d] * 0.24

  # CNO = 46%
  prob += lpSum(W[p, w, d] for p in range(5, 8) for w in range(1,54)) == D_distributor[d] * 0.46

# Inflow equals outflow
prob += lpSum(W[p, w, d] for p in range(8) for w in range(1, 54) for d in range(9)) \
        == lpSum(s[w, d] for w in range(1, 54) for d in range(9))

# Regional demand
for d in range(9):
    prob += lpSum(s[w, d] for w in range(1,54)) == D_distributor[d]
for w in range(1,54):
  prob += lpSum(W[p, w, d] for p in range(8) for d in range(9)) \
        == lpSum(s[w, d] for d in range(9))

#capacity
for p in plants:
  for w in warehouses:
        prob += lpSum(W[p, w, d] for d in distributors) <= 33000

# Solve the problem
prob.solve(PULP_CBC_CMD())

# Print the optimal solution
print("Optimal Solution:")
for v in prob.variables():
    if v.varValue > 0:
        print(v.name, "=", v.varValue)

# Print the optimal cost
print("Total Cost =", value(prob.objective))
non_zero_s = sum(1 for v in prob.variables() if v.name.startswith('s_') and v.varValue > 0)


indexes_w = []
indexes_d = []

for v in prob.variables():
    if v.name.startswith('s_') and v.varValue > 0:
        indexes = v.name.split('_')[1].split(',')
        w_index = int(indexes[0].strip('('))
        d_index = re.search(r"s_\(\d+,_([\d]+)\)", v.name).group(1) 
        indexes_w.append(w_index)
        indexes_d.append(d_index)

# Print the arrays
print("Warehouse indexes:", indexes_w)
indexes_d = numbers = [int(index) for index in indexes_d]

print("Distributor indexes:", indexes_d)

/usr/local/lib/python3.10/dist-packages/pulp/pulp.py:1352: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

Optimal Solution:
W_(0,_11,_5) = 19380.0
W_(0,_25,_4) = 16582.0
W_(0,_25,_7) = 16418.0
W_(0,_37,_1) = 2158.0
W_(0,_37,_5) = 15942.0
W_(0,_42,_1) = 4369.0
W_(0,_42,_4) = 28631.0
W_(0,_44,_0) = 10293.0
W_(0,_44,_3) = 22707.0
W_(0,_48,_0) = 8410.0
W_(0,_50,_1) = 25431.0
W_(0,_50,_6) = 7569.0
W_(0,_8,_0) = 21665.0
W_(0,_8,_7) = 11335.0
W_(1,_19,_2) = 2523.0
W_(1,_19,_4) = 5247.0
W_(1,_19,_8) = 25230.0
W_(1,_6,_1) = 8410.0
W_(2,_18,_8) = 1280.0
W_(2,_20,_0) = 31588.8
W_(2,_20,_8) = 1411.2
W_(2,_29,_8) = 2560.0
W_(2,_48,_2) = 2018.4
W_(2,_48,_4) = 2724.0
W_(2,_48,_5) = 28257.6
W_(3,_20,_0) = 705.6
W_(3,_20,_1) = 32294.4
W_(3,_48,_4) = 18067.2
W_(3,_48,_8) = 14932.8
W_(4,_20,_3) = 18165.6
W_(4,_20,_6) = 6055.2
W_(4,_20,_7) = 8779.2
W_(4,_29,_4) = 19576.8
W_(4,_29,_7) = 13423.2
W_(5,_11,_0) = 7130.0
W_(5,_16,_8) = 33000.0
W_(5,_26,_0) = 19207.6
W_(5,_26,_3) = 13792.4
W_(5,_8,_3) = 1247.2
W_(5,_8,_5) = 20147.0
W_(5,_8,_6) = 11605.8
W_(6,_19,_0) = 33000.0
W_(6,_23,_2) = 668.6
W_(6,_23,_5) = 26645.4
W_(6,_23,_8) = 5686.0
W_(6,_24,_4) = 33000.0
W_(6,_25,_1) = 28897.6
W_(6,_25,_7) = 4102.4
W_(6,_41,_1) = 33000.0
W_(6,_49,_3) = 19777.8
W_(6,_49,_7) = 5452.2
W_(6,_8,_2) = 3200.0
W_(6,_9,_4) = 11372.0
W_(6,_9,_5) = 7368.0
W_(7,_1,_0) = 2560.0
W_(7,_19,_7) = 33000.0
W_(7,_5,_4) = 33000.0
s_(1,_0) = 2560.0
s_(11,_7) = 26510.0
s_(16,_7) = 33000.0
s_(18,_3) = 1280.0
s_(19,_0) = 99000.0
s_(20,_1) = 99000.0
s_(23,_5) = 33000.0
s_(24,_5) = 33000.0
s_(25,_8) = 66000.0
s_(26,_7) = 33000.0
s_(29,_1) = 35560.0
s_(37,_8) = 18100.0
s_(41,_5) = 33000.0
s_(42,_4) = 33000.0
s_(44,_4) = 33000.0
s_(48,_3) = 74410.0
s_(49,_6) = 25230.0
s_(5,_0) = 33000.0
s_(50,_4) = 33000.0
s_(6,_2) = 8410.0
s_(8,_4) = 69200.0
s_(9,_5) = 18740.0
Total Cost = 4457247.002847499
Warehouse indexes: [1, 11, 16, 18, 19, 20, 23, 24, 25, 26, 29, 37, 41, 42, 44, 48, 49, 5, 50, 6, 8, 9]
Distributor indexes: [0, 7, 7, 3, 0, 1, 5, 5, 8, 7, 1, 8, 5, 4, 4, 3, 6, 0, 4, 2, 4, 5]

In [ ]:
each_distances_list = []
for i in range(len(indexes_w)):
    each_distances = df_secondary_disntance.iloc[indexes_w[i],indexes_d[i]]
    #print(each_distances)
    each_distances_list.append(each_distances)

less_than_250 = 0
more_than_250 = 0
for i in each_distances_list:
  if i <= 250:
    less_than_250 += 1
  else:
    more_than_250 += 1

print(less_than_250)
print(more_than_250)
service_level = less_than_250/(less_than_250+more_than_250)
print(service_level)

20
2
0.9090909090909091